# Copy this file to .env and fill in the values
DJANGO_SECRET_KEY=""
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
APP_PORT=8000
DATABASE_URL=postgres://challenge_rp:challenge_rp@db:5432/challenge_rp
PROVIDER_AR_URL=http://provider-ar-mock:8080/invoices
PROVIDER_BR_URL=http://provider-br-mock:8080/invoices
